<!doctype html>
<html>
    <head>
        <title>Créer un sondage</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="index.css" />
        <link rel="stylesheet" type="text/css" href="pickmeup.css" />
        <script type="text/javascript" src="pickmeup.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                ["debut", "fin"].forEach(function(x) {
                    var options = {
                        position: 'right',
                        hide_on_select: true,
                        format: 'Y-m-d'
                    };

                    if(x == 'fin') {
                        var date = new Date();
                        date.setDate(new Date().getDate() + 5);
                        options.date = date;
                    }

                    pickmeup('#' + x, options);
                });
            });
        </script>
    </head>
    <body>
        <h1>Créer un sondage</h1>

        <div id="error">
            Erreur : assurez-vous d'entrer des données valides.
        </div>

        <form action="/" method="GET">
            <label>
                Titre:
                <input name="titre" placeholder="Super Sondage" />
            </label>

            <br />

            <label>
                Identifiant:
                <input name="id" placeholder="super-sondage" id="identifiant"/>
                <attr id="note-identifiant" title="L'identifiant du sondage sera utilisé dans le lien. Il doit être composé seulement de chiffres, de lettres et de tirets (-)">(?)</attr>
            </label>

            <br />

            <label>
                Date de début:
                <input id="debut" name="dateDebut" />
            </label>

            <br />

            <label>
                Date de fin:
                <input id="fin" name="dateFin" />
            </label>

            <br />

            <label>
                Heure de début:
                <select name="heureDebut">
                    <option value="0" class="heureDebut">0h</option>
                    <option value="1" class="heureDebut">1h</option>
                    <option value="2" class="heureDebut">2h</option>
                    <option value="3" class="heureDebut">3h</option>
                    <option value="4" class="heureDebut">4h</option>
                    <option value="5" class="heureDebut">5h</option>
                    <option value="6" class="heureDebut">6h</option>
                    <option value="7" class="heureDebut" selected>7h</option>
                    <option value="8" class="heureDebut">8h</option>
                    <option value="9" class="heureDebut">9h</option>
                    <option value="10" class="heureDebut">10h</option>
                    <option value="11" class="heureDebut">11h</option>
                    <option value="12" class="heureDebut">12h</option>
                    <option value="13" class="heureDebut">13h</option>
                    <option value="14" class="heureDebut">14h</option>
                    <option value="15" class="heureDebut">15h</option>
                    <option value="16" class="heureDebut">16h</option>
                    <option value="17" class="heureDebut">17h</option>
                    <option value="18" class="heureDebut">18h</option>
                    <option value="19" class="heureDebut">19h</option>
                    <option value="20" class="heureDebut">20h</option>
                    <option value="21" class="heureDebut">21h</option>
                    <option value="22" class="heureDebut">22h</option>
                    <option value="23" class="heureDebut">23h</option>
                </select>
            </label>

            <br />

            <label>
                Heure de fin:
                <select name="heureFin">
                    <option value="0" class="heureFin">0h</option>
                    <option value="1" class="heureFin">1h</option>
                    <option value="2" class="heureFin">2h</option>
                    <option value="3" class="heureFin">3h</option>
                    <option value="4" class="heureFin">4h</option>
                    <option value="5" class="heureFin">5h</option>
                    <option value="6" class="heureFin">6h</option>
                    <option value="7" class="heureFin">7h</option>
                    <option value="8" class="heureFin">8h</option>
                    <option value="9" class="heureFin">9h</option>
                    <option value="10" class="heureFin">10h</option>
                    <option value="11" class="heureFin">11h</option>
                    <option value="12" class="heureFin">12h</option>
                    <option value="13" class="heureFin">13h</option>
                    <option value="14" class="heureFin">14h</option>
                    <option value="15" class="heureFin">15h</option>
                    <option value="16" class="heureFin">16h</option>
                    <option value="17" class="heureFin" selected>17h</option>
                    <option value="18" class="heureFin">18h</option>
                    <option value="19" class="heureFin">19h</option>
                    <option value="20" class="heureFin">20h</option>
                    <option value="21" class="heureFin">21h</option>
                    <option value="22" class="heureFin">22h</option>
                    <option value="23" class="heureFin">23h</option>
                </select>
            </label>

            <hr />
            <button type="submit">
                Créer !
            </button>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var text = "";
                var dateDebut = document.getElementById('debut').value;
                dateDebut = new Date(dateDebut);
                dateDebut = dateDebut.getTime();
                var dateFin = document.getElementById('fin').value;
                dateFin = new Date(dateFin);
                dateFin = dateFin.getTime();
                var hDebut = document.getElementsByClassName('heureDebut')
                var heureDebut = +(hDebut.value);
                var hFin = document.getElementsByClassName('heureFin')
                var heureFin = +(hFin.value);

                if(location.search == '') {
                  document.getElementById('error').style.display = 'none';
                }
                else {
                  var id = document.getElementById('identifiant').value;
                  if (dateFin < dateDebut) {
                    text = "Erreur Planning : Vous devriez choisir une date "
                    + "ultérieure à celle du début";
                    document.getElementById('error').innerHTML = text;
                    document.getElementById('error').style.display = 'block';
                  }
                  else if (!(/^[a-z0-9\-]+$/i.test(id))) {
                    text = "Erreur Identifiant : Les caractères spéciaux "
                    + "sont pas autorisés";
                    document.getElementById('error').innerHTML = text;
                    document.getElementById('error').style.display = 'block';
                  }
                  else if ((dateFin - dateDebut) > 30) {
                    text = "Erreur Planning : Vous sondage doit être de 30 jours"
                    + " maximum";
                    document.getElementById('error').innerHTML = text;
                    document.getElementById('error').style.display = 'block';
                  }
                  else if (heureFin < heureDebut) {
                    text = "Erreur Planning : Vous devriez choisir une heure "
                    + "ultérieure à celle du début";
                    document.getElementById('error').innerHTML = text;
                    document.getElementById('error').style.display = 'block';
                  }
                }
            });
        </script>
    </body>
</html>
